@model dynamic
@{
	ViewBag.Title = "Overview";
}
<section class="content group-overview">

</section>

@section CustomScripts {
	<script src="@Links.Scripts.highcharts.highcharts_js" type="text/javascript"></script>
	<script src="@Links.Scripts.highcharts.highcharts_theme_gray_js" type="text/javascript"></script>
	<script type="text/javascript">
	</script>
}
