@model dynamic

@{
    ViewBag.Title = "Overview";
}

<div class="machines">
    <ul data-bind="foreach: machineStateViewModels">
    	<li>
    		<span data-bind="text: MachineName"></span>
            
    		<div data-bind="html: ChartContainer">
    		</div>
    	</li>
    </ul>
</div>

@section CustomScripts {
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="@Links.Scripts.Systemmonitor_Overview_Highcharts_Theme_Gray_js"></script>
    <script src="@Links.Scripts.Systemmonitor_Overview_js"></script>
}