html{background-color:#fff;font-family:Arial,Verdana,Helvetica,sans-serif;color:black}
h1{margin:0;padding:0;font-family:'Segoe UI Light','SegoeUI',sans-serif}
h2{margin:0;padding:0;font-family:'Segoe UI Light','SegoeUI',sans-serif}
h3{margin:0;padding:0;font-family:'Segoe UI Light','SegoeUI',sans-serif}
h4,h5,h6{margin:0;padding:0;font-family:'Segoe UI Light','SegoeUI',sans-serif}
a{color:#706f6f;text-decoration:none}
a:hover{color:#bcbcbc}
.cleaner{clear:both}
.cleaner-left{clear:left}
.cleaner-right{clear:left}
html{margin:0;padding:0}
body{margin:0;padding:0}
body>header{margin:0 0 20px 0}
body>header nav{float:left;clear:left;width:100%;border-bottom:1px solid black}
body>header nav ul{float:left;margin:0;padding:0}
body>header nav ul li{margin:0 10px 0 00px;padding:0;float:left;list-style-type:none}
body>section{margin:0 10px 0 10px}
.groupoverview .controls{text-align:right;margin:0 0 20px 0}