<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="RESTSystemInformationSenderBaseUrl" value=" http://ipv4.fiddler:49785" />
    <add key="RESTSystemInformationSenderResourcePath" value="api/HardwareInfo/" />
    <add key="MessageQueuePersistenceFilePath" value="failed-messages.json" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
</configuration>
