<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="AgentConfigurationServiceHostaddress" value="localhost:49785" />
    <add key="AgentConfigurationServiceHostname" value="localhost" />
    <add key="AgentConfigurationServiceResourcePath" value="/api/agentconfiguration" />
    
    <add key="MessageQueuePersistenceFilePath" value="failed-messages.json" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
</configuration>
