<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
  <FileGroup Name="Combined\global.css">
    <Folder Pattern="Source\libraries\*.chirp.less" Deep="false" />
    <Folder Pattern="Source\*.chirp.less" Deep="false" />
  </FileGroup>
</root>