@model dynamic
@{
    ViewBag.Title = "Agent Configuration";
}
<section class="middleContent" id="configBody">
    <div class="agent-configuration">
    
        <div class="global">
            
            <label for="SystemInformationSenderHostaddress">Hostaddress</label>
            <input type="text" id="SystemInformationSenderHostaddress" data-bind="value: Hostaddress" />
        
            <label for="SystemInformationSenderHostname">Hostname</label>
            <input type="text" id="SystemInformationSenderHostname" data-bind="value: Hostname" />
            
            <label for="SystemInformationSenderPath">SystemInformationSenderPath</label>
            <input type="text" id="SystemInformationSenderPath" data-bind="value: SystemInformationSenderPath" />
            
            <label for="SystemInformationSenderCheckInterval">Check-interval (in seconds)</label>
            <input type="text" id="SystemInformationSenderCheckInterval" data-bind="value: CheckIntervalInSeconds" />
        
            <div id="agentStatusSwitch">
                <input type="radio" name="AgentsAreEnabled" value="true" id="agentStatusEnabled" data-bind="checked: AgentsAreEnabled.ForEditing" />
                <label for="agentStatusEnabled">Agents are enabled</label>

                <input type="radio" name="AgentsAreEnabled" value="false" id="agentStatusDisabled" data-bind="checked: AgentsAreEnabled.ForEditing" />
                <label for="agentStatusDisabled">Agents are disabled</label>
            </div>
            
            <div class="commands">
                <button class="button btnLoad" data-bind="click: LoadConfiguration">Load</button>
                <button class="button btnSave" data-bind="click: SaveConfiguration">Save</button>
            </div>
        </div>

    </div>
</section>

@section CustomScripts {
    <script type="text/javascript">
        var agentConfigurationOptions = {
            SuccessCallback: function (message) {
                console.info(message);
            },
            ErrorCallback: function (message) {
                console.warn(message);
            }
        };
    </script>
    <script type="text/javascript" src="@Links.Scripts.systemmonitor_agent_configuration_js"></script>
}
