@import "constants.less";

html {
    background-color: @color-background;
    font-family: @font-family-default;
    color: black;
}

/* page title */
h1 {
    margin: 0;
    padding: 0;
    font-family: @font-family-pagetitle;
}

/* headline */
h2 {
    margin: 0;
    padding: 0;
    font-family: @font-family-headline;
}

/* sub-headline */
h3 {
    margin: 0;
    padding: 0;
    font-family: @font-family-subheadline;
}

/* block titles */
h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: @font-family-blocktitle;
}

/* text links */
a {
    color: @color-link;
    text-decoration: none;
}

a:hover {
    color: @color-link-hover;
}

/* cleaner */
.cleaner {
    clear: both;
}

.cleaner-left {
    clear: left;
}

.cleaner-right {
    clear: left;
}

.righttopnavigation {
    display: block;
	position: absolute;
    right: 25px;
	top: 0px;
}

.righttopnavigation ul {
    list-style: none;
    background: #B0CBF1;
	display: table;
}
.righttopnavigation li {
    list-style: none;
	float: left;
	position: relative;
	top: 1px;
	margin: 0 .2em 1px 0;
	border-top: 0 !important;
	padding: 0;
	white-space: nowrap;
	min-width: 125px;
	text-align: center;
	border: 1px solid #003C66;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 33px;
}

.righttopnavigation li a {
	position: relative;
    margin: 21px;
	text-decoration: none;
	color: #555;
	top: 7px;
	font-size: 18px;
}

.righttopnavigation li.activmenue {
    background: #99B2DD;
}
.righttopnavigation li.activmenue a {
    color: #003C66;
}
