html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
}
body > header {
  margin: 0px 0px 20px 0px;
}
body > header nav {
  float: left;
  clear: left;
  width: 100%;
  border-bottom: 1px solid black;
}
body > header nav ul {
  float: left;
  margin: 0px;
  padding: 0px;
}
body > header nav ul li {
  margin: 0px 10px 0px 00px;
  padding: 0px;
  float: left;
  list-style-type: none;
}
body > section {
  margin: 0 10px 0 10px;
}
