/* font size */
@font-size-page-title: 24px;
@font-size-section-title: 20px;
@font-size-block-title: 16px;
@font-size-text: 14px;

/* font colors */
@font-color-page-title: black;
@font-color-section-title: black;
@font-color-block-title: black;
@font-color-text: black;

/* font family */
@font-family-page-title: Verdana, sans-serif;
@font-family-section-title: Verdana, sans-serif;
@font-family-block-title: Verdana, sans-serif;
@font-family-text: Verdana, sans-serif;

@navigation-background-color: #B5B5B5;

.cleaner {
	clear: both;
}

html {
	font-size: @font-size-text;
	color: @font-color-text;
	font-family: @font-family-text;

	margin: 0px;
	padding: 0px;

	body {

		margin: 0px;
		padding: 0px;

		>header {
			position: fixed;
			width: 100%;

			background: @navigation-background-color;

			margin: 0px;
			padding: 0px;

			z-index: 2;

			h1 {
				font-size: @font-size-page-title;
				color: @font-color-page-title;
				font-family: @font-family-page-title;
				margin: 0px 0px 10px 0px;
				cursor: default;
			}

			>nav {
				float: left;
				clear: left;
				width: 100%;

				padding: 0 0 5px 0;
				border-bottom: 1px solid black;

				>ul {
					float: left;
					margin: 0px;
					padding: 0px;

					li {
						cursor: pointer;

						>a {
							display: inline-block;
							text-decoration: none;
							color: #FFFFFF;

							margin: 3px 0 0 0;
							padding: 2px 7px 2px 7px; 

							background-color: #000000;
							border-radius: 30px; 
							-moz-border-radius: 30px; 
							-webkit-border-radius: 30px; 
							border: 2px solid #FFFFFF;

							&:hover {
								border: 2px solid red;
							}

							&:active {
								position: relative;
								top: 1px;
							}
						}
					}

					>li {
						margin: 0px 10px 0px 00px;
						padding: 0px;
						display: inline-block;
						list-style-type: none;

						>label {
							color: #5E5E5E;
						}

						>ul {
							display: inline-block;
							list-style-type: none;
							padding: 0px;
							margin: 0px;

							>li {
								display: inline-block;
							}
						}
						
					}
				}
			}

			>.contextMenu {
				
			}
		}

		>.content {
			display: inline-block;
			margin: 20px;

			header {
				h2 {
					font-size: @font-size-section-title;
					color: @font-color-section-title;
					font-family: @font-family-section-title;
					margin: 0px 0px 5px 0px;
					cursor: default;
				}

				h3 {
					font-size: @font-size-block-title;
					color: @font-color-block-title;
					font-family: @font-family-block-title;
					margin: 0px 0px 3px 0px;
					cursor: default;
				}
			}
		}

		>footer {
			z-index: 2;
			position: fixed;
			bottom: 0px;

			background: @navigation-background-color;

			width: 100%;
			min-height: 20px;

			border-top: 1px solid black;

			>.links {
				margin: 0;
				padding: 0;

				>li {
					display: inline-block;

					>a {
						color: @font-color-text;
						text-decoration: none;
					}
				}

			}
		}
	}
}