@model dynamic

@{
    ViewBag.Title = "Overview";
}

<div class="machines">
    <ul data-bind="foreach: machineStateViewModels">
    	<li>
    		<span data-bind="text: MachineName"></span>
            
    		<div data-bind="html: ChartContainer">
    		</div>
    	</li>
    </ul>
</div>

@section CustomScripts {
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="@Url.Content("~/Scripts/systemmonitor.overview.highcharts.theme.gray.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/systemmonitor.overview.js")"></script>
}